In [2]:
import pandas as pd
import numpy as np

combdata = pd.read_csv('1combined_data.csv')
# imdbdata.head()


combdata = combdata[combdata['최대 좋아요'] != '숨기기']
# combdata = combdata[combdata['좋아요'] != '숨기기']

def convert_to_number(value):
    if isinstance(value, str):
        value = value.replace('조회수', '').replace('회', '').replace('숨기기','').strip()
        value = value.replace('\xa0', '').replace(',','').strip()
        value = value.replace('답글 ', '').replace('개', '').strip()
        if '만' in value:
            return float(value.replace('만', '').strip()) * 10000
        elif '천' in value:
            return float(value.replace('천', '').strip()) * 1000
        else:
            return float(value.strip())
    return value

# 숫자 변환이 필요한 열에 대해 적용
combdata['조회수'] = combdata['조회수'].apply(convert_to_number)
combdata['최대 좋아요'] = combdata['최대 좋아요'].apply(convert_to_number)
combdata['답글'] = combdata['답글'].apply(convert_to_number)
combdata['좋아요'].fillna(0, inplace=True)
combdata['좋아요'] = combdata['좋아요'].apply(convert_to_number)
combdata = combdata.drop_duplicates(subset=['댓글'], keep='first')
combdata.head()
combdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45356 entries, 0 to 47567
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   댓글      45355 non-null  object
 1   답글      45356 non-null  float64
 2   좋아요     45356 non-null  float64
 3   제목      45356 non-null  object
 4   조회수     45356 non-null  float64
 5   최대 좋아요  45356 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.4+ MB

C:\Users\108-0\AppData\Local\Temp\ipykernel_1680\1949968113.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combdata['좋아요'].fillna(0, inplace=True)

In [10]:
combdata.drop_duplicates(subset=['제목'])

,댓글,답글,좋아요,제목,조회수,최대 좋아요
0,He introduced himself with a message of peace ...,6.0,375.0,Pope Leo XIV makes first speech from Vatican b...,190000.0,1800.0
130,The special relationship between the US and Br...,47.0,436.0,Trade war escalates as US metal tariffs take e...,150000.0,1600.0
250,Sounds like someone is about to spend the wint...,44.0,8100.0,Scientists at Antarctic base rocked by alleged...,970000.0,9900.0
370,"Well, at least everyone is alive and healthy. ...",2.0,101.0,"Global flight chaos: 200,000 passengers strand...",160000.0,1500.0
490,He is right he has lost most of America’s alli...,19.0,190.0,"Donald Trump defends tariffs on China, Canada ...",110000.0,1000.0
...,...,...,...,...,...,...
47109,"As Myanmar citizen, thanks for covering this n...",14.0,219.0,"Myanmar death toll rises after earthquake, say...",170000.0,1700.0
47208,I feel deeply sorry for the people of Myanmar....,5.0,106.0,Undercover in Myanmar: BBC finds earthquake ch...,260000.0,2800.0
47308,"Yeah don't put them both in the same bucket, o...",0.0,38.0,Analysis: Did Caitlin Clark and Angel Reese ch...,12000.0,220.0
47388,BBC won't tell why Houthis did that .,23.0,586.0,Houthi missile from Yemen hits near Israel's B...,250000.0,2500.0
47488,You cannot call it counter-tariffs if you star...,110.0,886.0,US President Donald Trump threatens 200% tarif...,280000.0,2100.0

In [ ]:
sampled_combdata = combdata.groupby('제목').apply(lambda x: x.sample(n=4, random_state=42) if len(x) >= 4 else x).reset_index(drop=True)

sampled_combdata.to_csv('sampled_combdata.csv', index=False, encoding='utf-8-sig')

C:\Users\108-0\AppData\Local\Temp\ipykernel_14512\4291357301.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_combdata = combdata.groupby('제목').apply(lambda x: x.sample(n=4, random_state=42) if len(x) >= 4 else x).reset_index(drop=True)

In [35]:
import pandas as pd
import os
from IPython.display import clear_output

# comb.csv 파일 불러오기 또는 생성
if os.path.exists('comb.csv'):
    comb = pd.read_csv('comb.csv')
else:
    # 예시용 데이터 생성 (필요 시 수정)
    comb = pd.DataFrame({
        'feature1': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
        'feature2': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
        'target': [None] * 10
    })
    comb.to_csv('comb.csv', index=False)

if 'target' not in comb.columns:
    comb['target'] = ''

# 입력을 시작할 인덱스 찾기
comb.loc[comb['답글'] == 0, 'target'] = 0

pending_idx = comb[(comb['target'].isna()) | (comb['target'] == '')].index

# 입력 루프 시작
for idx in pending_idx:
    row = comb.loc[idx]
    print(f"Index {idx} 데이터:")
    print(row.drop('target'))  # 'target' 제외하고 보여줌
    print("-" * 30)
    
    user_input = input("위 데이터를 보고 'target' 값을 입력하세요 (종료하려면 '종료한다'): ")

    if user_input.strip() == '종료한다':
        print("입력을 종료합니다. 데이터 저장 중...")
        comb.to_csv('comb.csv', index=False)
        break

    comb.at[idx, 'target'] = user_input
    comb.to_csv('comb.csv', index=False, encoding='utf-8-sig')
    
    # 출력 지우기
    clear_output(wait=True)

# 남은 항목이 없다면 알림
if comb[(comb['target'].isna()) | (comb['target'] == '')].empty:
    print("모든 입력이 완료되었습니다.")

모든 입력이 완료되었습니다.

In [44]:
check = pd.read_csv('comb.csv')
# check.loc[check['답글'] == 0, 'target'] = 0
check['target'].value_counts()
# check.info()

target
0.0    1892
1.0     186
Name: count, dtype: int64

In [29]:
check.head()

,댓글,답글,좋아요,제목,조회수,최대 좋아요,target
0,Wow .... The Chinese government is making the ...,0.0,2.0,Aboard China’s ‘silver trains’ taking pensione...,120000.0,1200.0,0.0
1,where is the most common ending:so at what cost?,0.0,8.0,Aboard China’s ‘silver trains’ taking pensione...,120000.0,1200.0,0.0
2,Its called smart policies: win win\n\nCould yo...,1.0,2.0,Aboard China’s ‘silver trains’ taking pensione...,120000.0,1200.0,0.0
3,China Silver's Train ....against \nTrump's Usa...,0.0,19.0,Aboard China’s ‘silver trains’ taking pensione...,120000.0,1200.0,0.0
4,"Its hard to know who is who to be honest, it d...",0.0,4.0,Abuse victims question if Pope Francis did eno...,9900.0,144.0,0.0

In [41]:
# 전체에서 샘플을 빼고, 제목 댓글만 남기고 파일로 저장

label_data = pd.read_csv('comb.csv')
combdata.info()
combdata = combdata[~combdata['댓글'].isin(label_data['댓글'])]
combdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45356 entries, 0 to 47567
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   댓글      45355 non-null  object
 1   답글      45356 non-null  float64
 2   좋아요     45356 non-null  float64
 3   제목      45356 non-null  object
 4   조회수     45356 non-null  float64
 5   최대 좋아요  45356 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 43278 entries, 0 to 47567
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   댓글      43277 non-null  object
 1   답글      43278 non-null  float64
 2   좋아요     43278 non-null  float64
 3   제목      43278 non-null  object
 4   조회수     43278 non-null  float64
 5   최대 좋아요  43278 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.3+ MB

In [50]:
new_combdata = pd.DataFrame()
new_label_data = pd.DataFrame()

new_combdata['title_comment'] = combdata['제목'] + combdata['댓글']

new_label_data['title_comment'] = label_data['제목'] + label_data['댓글']
new_label_data['target'] = label_data['target']

new_combdata.info()
new_label_data.info()

new_combdata.dropna(inplace=True)
new_combdata.info()

new_label_data['target'].value_counts()
new_label_data['target'] = new_label_data['target'].astype(int)

new_combdata.to_csv('new_combdata.csv', index=False, encoding='utf-8-sig')
new_label_data.to_csv('new_label_data.csv', index=False, encoding='utf-8-sig')

<class 'pandas.core.frame.DataFrame'>
Index: 43278 entries, 0 to 47567
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title_comment  43277 non-null  object
dtypes: object(1)
memory usage: 676.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078 entries, 0 to 2077
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title_comment  2078 non-null   object
 1   target         2078 non-null   float64
dtypes: float64(1), object(1)
memory usage: 32.6+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 43277 entries, 0 to 47567
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title_comment  43277 non-null  object
dtypes: object(1)
memory usage: 676.2+ KB

In [52]:
new_label_data.head()
new_label_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2078 entries, 0 to 2077
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title_comment  2078 non-null   object
 1   target         2078 non-null   int64
dtypes: int64(1), object(1)
memory usage: 32.6+ KB

In [33]:
import pandas as pd
data = pd.read_csv('unlabeled_prediction_results3.csv')
data['predicted_label'].value_counts()
# data.info()

predicted_label
0    38255
1     5022
Name: count, dtype: int64

In [31]:
combdata
combdata['title_comment'] = combdata['제목'] + combdata['댓글']
combdata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45356 entries, 0 to 47567
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   댓글             45355 non-null  object
 1   답글             45356 non-null  float64
 2   좋아요            45356 non-null  float64
 3   제목             45356 non-null  object
 4   조회수            45356 non-null  float64
 5   최대 좋아요         45356 non-null  float64
 6   title_comment  45355 non-null  object
dtypes: float64(4), object(3)
memory usage: 2.8+ MB

In [ ]:
# combdata[combdata['title_comment'] == data[data['predicted_label'] == 1]['text']]
filtered_texts = data[data['predicted_label'] == 1]['text']
combdata_filtered = combdata[combdata['title_comment'].isin(filtered_texts)]
combdata_filtered['댓글']



combdata_filtered['댓글'].to_csv('filtered33333.csv', index=False, encoding='utf-8-sig')

In [42]:
check = pd.read_csv('comb.csv')
# check.head()
print(check[check['target'] == 0].iloc[0])
print(check[check['target'] == 1].iloc[0])

댓글        Wow .... The Chinese government is making the ...
답글                                                      0.0
좋아요                                                     2.0
제목        Aboard China’s ‘silver trains’ taking pensione...
조회수                                                120000.0
최대 좋아요                                               1200.0
target                                                  0.0
Name: 0, dtype: object
댓글        Deforestation for a climate summit. Are they e...
답글                                                      7.0
좋아요                                                   417.0
제목        Amazon forest felled to build road for climate...
조회수                                                 69000.0
최대 좋아요                                                908.0
target                                                  1.0
Name: 21, dtype: object